// @fire-button: #f44336;
// @play-pause-button: #64b5f6;

body {
	text-align: center;
	font-family: sans-serif;
	background-color: #0E0B16;
	color: white;
}

canvas {
	border-bottom: 1px solid white;
}

.fire {
	display: block;
	margin: 10px auto;
}
