@fire-button: #f44336;
@play-pause-button: #64b5f6;

body {
	text-align: center;
	font-family: sans-serif;
}

canvas {
	border: 1px solid black;
}

button {
	outline: none;
	color: white;
	margin: 0.3em;
	margin-top: 20px;
	padding: 0.8em 4em;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
	border: none;
	font-size: 15px;
	text-align: center;
	&:hover {
		box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
	}
}

.play-pause {
	background-color: @play-pause-button;
}

.fire {
	display: block;
	margin: 0 auto;
	background-color: @fire-button;
}
